<!-- templates/web3.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Anime Recommendation</h1>
        <form method="POST">
            <input type="text" name="query" placeholder="Enter anime name" required>
            <input type="submit" value="Search">
        </form>

        {% if recommendations %}
            <h2>Recommendations '{{query1}}'</h2>
            <ul>
                {% for anime in recommendations %}
                    <li>{{ anime }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
